body {
    font-size: 18px;
    line-height: 1.5;
    color: #05080C;
    background-color: #F6F6F6;
}
table {
    margin: 0 auto;
}
th {
    background-color: #222222;
    color: white;
}
td {
    background-color: #eeeeee;
}
p {
    font-family: Georgia , Times, "Times New Roman", serif;
}
header{
    border-top: solid 5px #222222;
    padding: 0 100px;
}
img {
    float: right;
    margin-left: 20px;
}
article {
    border-bottom: 5px solid #222222;
    padding: 0 100px;
}
article img {
    float: right;
    margin-left: 20px;
}
