.header {
  background-image: url(https://cdn.onebauer.media/one/media/5e7b/6778/8554/e1a4/e76c/cbd4/world-according-jeff-2.jpg?format=jpg&quality=80&width=850&ratio=16-9&resize=aspectfill);
  background-repeat: no-repeat;
  background-position: top;
  height: 478px;
  margin-top: -10px;
}

.header div {
  font-size: 40px;
  font-weight: 400;
  border-radius: 7%;
  color: #13354d;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: .25em 2em;
  line-height: 1em;
  max-width: 293px;
  position: absolute;
  top: 262px;
  left: 64%;
  -webkit-transform: translate(-156%, -50%);
          transform: translate(-156%, -50%);
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  margin: 15px auto;
}

.questions .question-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}

.jeffed {
  position: absolute;
  top: 0;
  left: 0;
  width: 849px;
  background-image: url("jeff-goldblum-2.png");
  height: 849px;
}

.questions .card-item img {
  max-width: 283px;
}

label {
  color: white;
  font-size: 40px;
  margin: 17px auto 0 auto;
}

.select {
  background-color: #5b83a7;
  max-width: 980px;
  max-width: 850px;
  margin: 0 auto;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question-card-container {
  margin: 30px auto;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 2em;
  justify-content: center;
}
.card {
  width: 283px;
  height: 283px;
  cursor: pointer;
}
.card-front > img {
  width: 283px;
}

.card-back > p {
  font-size: 20px;
  padding: 25px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

button {
  align-items: center;
  background-color: #6e95ba;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

@media screen and (max-width: 1500px) {
  .header div {
  left: 65%;
  -webkit-transform: translate(-160%, -50%);
    transform: translate(-160%, -67%);
    font-size: 36px;
  }
}

@media screen and (max-width: 1055px) {
  .header div {
  left: 64%;
  -webkit-transform: translate(-170%, -60%);
          transform: translate(-170%, -60%);
          font-size: 36px;
  }
}

@media screen and (max-width: 940px) {
  .header div {
  left: 62%;
  font-size: 36px;
  }
}

@media screen and (max-width: 850px) {
  .card-back > p {
    font-size: 16px;
  }
  .card-front > img {
    width: 250px;
    height: 250px;
  }
  .question-container {
    width: 700px;
  }
  .card {
    width: 233px;
    height: 233px;
  }
  .jeffed {
    width: 700px;
    height: 700px;
  }
  .select {
    width: 700px;
  }
  .header {
    margin: -10px auto 0 auto;
    max-width: 700px;
  }
  .header div {
    left: 64%;
    font-size: 33px;
  }
}

@media screen and (max-width: 710px) {
  .card-back > p {
    font-size: 11px;
    padding-bottom: 5px;
  }
  button {
    font-size: 12px;
    min-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-front > img {
    width: 175px;
    height: 175px;
  }
  .question-container {
    width: 520px;
  }
  .card {
    width: 173px;
    height: 173px;
  }
  .jeffed {
    width: 520px;
    height: 520px;
  }
  .select {
    width: 520px;
  }
  .header {
    margin: -10px auto 0 auto;
    max-width: 520px;
  }
  .header div {
    left: 68%;
    transform: translate(-180%, -5%);
    font-size: 21px;
  }
}

@media screen and (max-width: 620px) {
  .card-front > img {
    width: 134px;
    height: 134px;
  }
  .question-container {
    width: 400px;
  }
  .card {
    width: 134px;
    height: 134px;
  }
  .jeffed {
    width: 400px;
    height: 400px;
  }
  .select {
    width: 400px;
  }
  .header {
    margin: -10px auto 0 auto;
    max-width: 400px;
  }
  .header div {
    left: 68%;
    transform: translate(-172%, -7%);
    font-size: 17px;
    font-weight: 600;
  }
  .card-back > p {
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 5px
  }
  button {
    font-size: 10px;
    min-height: 25px;
  }
}

@media screen and (max-width: 560px) {
  .header div {
    transform: translate(-190%, -10%);
    font-weight: 600;
    font-size: 17px;
  }
}
    
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
  background-color: #ffffff;
}
.card-back  > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}
             
.is-flipped {
  transform: rotateY(180deg);
}   

.trivia-results {
  color: white;
  font-size: 20px;
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif;
}