/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  padding: 15px 0;
}

.site_header {
  background-color: black;
  display: flex;
  border-bottom: #f2ff00 5px solid;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.site_header h1 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: 'Merriweather', serif;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 15px 0;
  margin: 0;
}

.site_header h1,
.site_header h1 a,
.site_header h1 a:visited {
  color: #f2ff00;
  text-decoration:none;
}

.main-nav li,
.main-nav li a,
.main-nav li a:visited {
  color: #fff;
  text-decoration:none;
}

.main-nav-item-featured {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.below-nav-text {
  background-color: #adadad;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.below-nav-text p{
  font-size: 25px;
  margin: 0;
}

.strikeout {
  text-decoration: line-through;
}

.underline {
  border-bottom: 3px solid #f2ff00;
}

.cta {
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 24px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.background-image {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/coworking.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  min-height: 60%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.background-image h2 {
  font-weight: bold;
}

.profile-text-box {
  background-color: rgba(255,255,255,0.9);
  margin: 25px 25px 25px 0;
  padding: 25px;
  width: 380px;
  height: 230px;
  padding: 4%;
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}

.profile-button {
  background-color: #f2ff00;
  border-bottom: 2px solid #ffd900;
}

.profile-text-box h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

.bottom-nav {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.bottom-nav-box {
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 2%;
}

.bottom-nav-box:last-child {
  border-right: none;
}

.bottom-nav-box h1 {
  font-family: 'Merriweather', serif;
  font-size: 24px;

}

.bottom-nav-box .cta {
  background-color: #adadad;
  border-bottom: 2px solid #878787;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
}

