html {
  color: #222;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #3a8e52;
}

.main-nav {
    background-color: #32b64c;
    display: flex;
    color: white;
    justify-content: space-between;
    height: 40px;
}

.main-nav-logo {
  min-width: 85px;
  padding: 5px 10px;
}

.main-nav-logo img {
  border-style: none;
  vertical-align: middle;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
}

.main-nav ul a {
  text-decoration: none;
  font-size: 15px;
}

.main-nav ul li {
    margin: 0;
    display: inline-block;
}

.main-nav svg {
    height: 25px;
    width: 80px;
}

.main-nav-left,
.main-nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-nav-item,
.main-nav-item:visited {
  font-size: 14px;
  padding: 0 12px;
  display: block;
  color: white;
}

.main-nav-item a {
  background-color: transparent;
}

.top-div-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
}

.top-div-container-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 20px;
  margin: 40px 0 0 0;
}

.top-div-container h1, p {
  margin: 0px;
  padding: 0px 15px 15px 0px;
  font-size: 14px;
}


.main-nav-item .circle-icon {
  border: 2px solid white;
  border-radius: 22px;
  display: inline-block;
  height: 20px;
  padding-top: 2px;
  margin: 0px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 22px;
}

.grid-image-1 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg);
  }
  
  .grid-image-2 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg);
  }
  
  .grid-image-3 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg);
  }
  
  .grid-image-4 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg);
  }
  
  .grid-image-5 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg);
  }
  
  .grid-image-6 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg);
  }
  
  .grid-image-7 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg);
  }
  
  .grid-image-8 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg);
  }
  
  .grid-image-9 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg);
  }
  
  .grid-image-10 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg);
  }
  
  .grid-image-11 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg);
  }
  
  .grid-image-12 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg);
  }

  .grid-image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 160px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
  }

  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #e3e4e6;
      grid-gap: 15px;
      padding: 15px;
  }

  .grid-item {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 260px;
  }

  .new{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 191, 102, 0.70);
    color: #fff;
    text-transform: uppercase;
    width: 30px;
    padding: 0px 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
  }

  .by-owner {
    display: flex;
    justify-content: center;
    background-color: rgba(134, 144, 152, 0.45);
    color: #fff;
    text-transform: uppercase;
    width: 110px;
    padding: 0px 3px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
  }

  .arrow {
    display:block;
    height: 15px;
    width: 15px;
    padding: 5px 0px 0px 0px;
  }

  .price > * {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 16px;
  }

  .price {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  .house-information {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      align-items: flex-start;
      padding: 0px 0px 0px 10px;
  }

  .house-information ul {
    padding: 0px;
    margin: 0px;
  }
  
  .house-information li {
    list-style: none;
    padding: 0px 0px 2px 0px;
  }
  
  .house-information p {
    padding: 0px;
  }

  .house-info ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .house-information li {
    list-style: none;
    padding: 0px 0px 2px 0px;
  }

  .house-info li {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 0px;
  }

  .house-info ul {
    padding: 0px 10px 0px 0px;
  }

  .address {
    color: #787d81;
    font-style:normal;
  }

  .icon { 
    height: 15px;
    padding: 0px 3px 0px 0px;
  }

  .bottom-nav {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 130px;
    justify-content: center;
    overflow:hidden;
  }

  .bottom-nav a {
    text-decoration: none;
  }
  
  .bottom-nav > * {
    list-style: none;
    margin: 5px;
    padding: 0px;
  }
  
  .page-num {
    display: flex;
    flex-direction: row;
  }
  
  .page-num li {
    padding: 0px 10px;
  }
  
  .results p {
    color: #787d81;
    padding: 0px;
  }
  
  .bottom-nav-location {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  
  .bottom-nav-location li {
    padding: 0px 5px;
  }
  
  .real-estate-insights {
    align-items: flex-start;
    background-color: white;
    display: flex;
    min-height: 220px;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 30px 30px;
    width: 90%;
  }
  
  .real-estate-insights h2 {
    font-weight: 600;
  }

  .real-estate-insights p {
    padding: 0 0 15px 0;
  }

  .real-estate-insights a {
    text-decoration: none;
  }
  
  .footer {
    background-color: #474E52;
    color: #b1b6bb;
    margin:0;
    padding:10px;
  }
  
  .footer-links {
    padding: 20px 0px 0px 30px;
  }
  
  .footer-links a,
  .footer-links a:visited {
    color:white;
  }

  .footer-links a {
    text-decoration: none;
  }
  
  .footer-links {
    list-style: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 10px;
    gap:10px;
  }
  
  
  .copyright {
    font-size: 10px;
    font-weight: normal;
    margin: 0px 10px;
    text-align:center;
  }